.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__title{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding-top: 20px;
    
}

.skills__line{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__box{
    height: 118px;
    width: 156px;
    background-color: rgb(237, 68, 122);
    display: flex;
    margin: 16px 16px;
    align-items: flex-end;
    font-size: 16px;
    font-weight: 700;
    padding: 16px;
    border-radius: 15%;
}

.skills__img{
    width: 24px;
    height: 37px;
}

